<div class="dbPg">

    <div class="container container-1170">
        <div class="row dbPgR">

            <div class="col-sm-12 col-md-12 col-lg dbPgC dbPgC-rt">
                <div class="dbPgInr">
                    <div class="dbPgInrR">
                        <div class="skills-sec">
                            <h4>Tech That I'm Familiar With</h4>
                            <div class="skls-icon-sec">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/angular-logo.svg" alt="">
                                            </div>
                                            <span>
                                                ANGULAR
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/typescript-original.svg" alt="">
                                            </div>
                                            <span>
                                                TYPESCRIPT
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/bootstrap-plain.svg" alt="">
                                            </div>
                                            <span>
                                                BOOTSTRAP
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/css3-plain.svg" alt="">
                                            </div>
                                            <span>
                                                CSS
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/sass-original.svg" alt="">
                                            </div>
                                            <span>
                                                SASS
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/ngx-bootstrap-logo.svg" alt="">
                                            </div>
                                            <span>
                                                NGX-BOOTSTRAP
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/html5-original.svg" alt="">
                                            </div>
                                            <span>
                                                HTML
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/javascript-original.svg" alt="">
                                            </div>
                                            <span>
                                                JAVASCRIPT
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/git-hub.svg" alt="">
                                            </div>
                                            <span>
                                                GIT
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/figma-img.svg" alt="">
                                            </div>
                                            <span>
                                                FIGMA
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/adobe-illustrator.png" alt="">
                                            </div>
                                            <span>
                                                Adobe Illustrator
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="skll-bx">
                                            <div class="skl-icon">
                                                <img src="./../../assets/images/photoshop-img.svg" alt="">
                                            </div>
                                            <span>
                                                PHOTOSHOP
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>