<div class="dbPg">
  <div class="container container-1170">
    <div class="row dbPgR">
      <div class="col-sm-12 col-md-12 col-lg dbPgC dbPgC-rt">
        <div class="dbPgInr">
          <div class="dbPgInrR">
            <div class="nme-sec">
              <div class="name-cnt-sec" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <h4>Hi, my name is</h4>
                <h1>Devadharshini
                  <span>and</span>
                </h1>
                <h2>I'M a Angular UI Developer.</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
